<div class="grid justify-content-center flex-column align-items-center">
  <h3 style="color:grey;text-align: center;">
    Dashboard
  </h3> 
  <div class="col-12">
    <div style="position: relative; border-color: transparent" class="card">

      <div class="col-12">

        <div style="margin-top: 20px" class="grid">
          <!-- //// Wrap-Unwrap -->
          <div class="col-12 lg:col-4 xl:col-4">
            <div
              style="background-color: var(--surface-ground)"
              class="card mb-0">
              <div class="grid p-fluid justify-content-center">
                <div class="col-12 flex align-items-center">
                 
                  <h5 style="color:grey">Total Balance</h5>
                  <!-- #region REALTIME  ////  -->
                </div>
                <div class="col-12 text-center">
                  <div class="flex justify-content-between flex-column mb-3">
                    <div class="text-900 font-medium text-lg">
                      <span class="text-green-500">
                        <span style="font-size: 40px"> {{ twoDec }}</span
                        >{{ fourDec }}
                      </span>
                    </div>
                  </div>
                </div>

                <!-- #endregion REALTIME ////  -->

        
              </div>
            </div>
          </div>

          <div class="col-12 lg:col-4 xl:col-4">
            <div
              style="background-color: var(--surface-ground)"
              class="card mb-0"
            >
              <div class="grid p-fluid justify-content-center">
                <div class="col-12 flex align-items-center">
                  <h5 style="color:grey">Available Balance</h5>
                  <!-- #region REALTIME  ////  -->
                </div>
                <div class="col-12 text-center">
                  <div class="flex justify-content-between flex-column mb-3">
                    <div class="text-900 font-medium text-lg">
                      <span class="text-green-500">
                        <span style="font-size: 40px"> {{ twoDecAva }}</span
                        >{{ fourDecAva }}
                      </span>
                    </div>
                  </div>
                </div>

  
              </div>
            </div>
          </div>

          <!-- //// Mint area -->
          <div class="col-12 lg:col-4 xl:col-4">
            <div
              style="background-color: var(--surface-ground)"
              class="card mb-0"
            >
            <div class="grid justify-content-center">
              <div style="position: relative" class="col-12 flex align-items-center">
                <span class="block text-500 font-medium ml-2"> Your Tokens</span>
                <!-- <img
                  src="assets/images/tokens/{{ poolToken?.image }}_icon.svg"
                  style="position: absolute; width: 40px; right: 20px"
                /> -->
              </div>
              <!-- #region BALANCE REWARDTOKEN ////  -->
              <div class="col-12 text-center">
                <div class="flex justify-content-between flex-column mb-1">
                  <div  style="    display: inline-flex;
                  align-items: center;
              "class="text-900 font-medium text-md">
                
                    <p style="width:150px;margin:unset;color:grey;">Locked:</p> 
                    <span 
              
                      style="color: var(--yellow-500)"
                    >
                      {{member?.amountLocked}}$</span
                    >
                  </div>
                </div>
      
                <div class="flex justify-content-between flex-column mb-1">
                  <div  style="    display: inline-flex;
                  align-items: center;
              "class="text-900 font-medium text-md">
                
                    <p style="width:150px;margin:unset;color:grey;">Loss:</p> 
                    <span 
                    >
                    {{member?.amountLoss}}$</span
                    >
                  </div>
                </div>
              </div>
              <!-- #endregion BALANCE SUPER TOKE DEPOSIT ////  -->
          
        
            </div>
            </div>
          </div>

          <div class="col-12 lg:col-4 xl:col-4">
            <user-balance
              (refreshEvent)="refreshBalance()"
              (mintEvent)="mint()"
              *ngIf="poolToken !== undefined"
              [poolToken]="poolToken"
            ></user-balance>
            <p-progressSpinner   style="position: relative;
            left: 158px;
            top: 50px;" *ngIf="poolToken == undefined"></p-progressSpinner>
          </div>

          <div class="col-12 lg:col-4 xl:col-4">
            <div
              style="background-color: var(--surface-ground)"
              class="card mb-0"
            >
              <div class="grid p-fluid justify-content-center">
                <div class="col-12 flex align-items-center">
                  <span class="block text-500 font-medium ml-2">
                    Your stream</span
                  >
                  <!-- #region REALTIME  ////  -->
                </div>
                <div class="col-12 text-center">
                  <div class="flex justify-content-between flex-column mb-3">
                    <div class="text-900 font-medium text-lg">
                      <span class="text-green-500">
                        <span style="font-size: 20px">  {{niceFlow}}$/month </span>
                
                      </span>
                    </div>
                  </div>
                </div>

                <!-- #endregion REALTIME ////  -->

                <div class="col-12 flex justify-content-around">
                  <button *ngIf="isFlowAvailable == false"
                    pButton
                    pRipple
                    style="position: relative; width: fit-content"
                    (click)="showStartFlow()"
                    type="button"
                    label="Stream-->"
                    class="p-button-rounded mr-2 mb-2"
                  ></button>
                  <button *ngIf="isFlowAvailable == true"
                  pButton
                  pRipple
                  style="position: relative; width: fit-content"
                  (click)="stopFlow()"
                  type="button"
                  label="Stop Stream"
                  class="p-button-rounded mr-2 mb-2"
                ></button>
                </div>
              </div>
            </div>
          </div>

          <!-- //// Mint area -->
          <div class="col-12 lg:col-4 xl:col-4">
            <div
              style="background-color: var(--surface-ground)"
              class="card mb-0"
            >
              <div class="grid p-fluid justify-content-center">
                <div class="col-12 flex align-items-center">
                  <span class="block text-500 font-medium ml-2"> Deposit</span>
                  <!-- #region REALTIME  ////  -->
                </div>
                <div class="col-12 text-center">
                  <div class="flex justify-content-between flex-column mb-2">
                    <div class="text-900 font-medium text-lg">
                      <p-inputNumber
                        [formControl]="depositAmountCtrl"
                        placeholder="Amount"
                        mode="decimal"
                        [showButtons]="true"
                        [min]="0"
                      >
                      </p-inputNumber>
                    </div>
                  </div>
                </div>

                <!-- #endregion REALTIME ////  -->

                <div class="col-6 flex justify-content-around">
                  <button
                    pButton
                    pRipple
                    style="width: fit-content"
                    (click)="deposit()"
                    type="button"
                    label="Deposit"
                    class="p-button-rounded mr-2 mb-2"
                  ></button>
                </div>
                <div class="col-6 flex justify-content-around">
                  <button
                    pButton
                    pRipple
                    style="width: fit-content"
                    (click)="withdraw()"
                    type="button"
                    label="Withdraw"
                    class="p-button-rounded mr-2 mb-2"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <p-tabView orientation="center">
          <p-tabPanel
            header="Your Credits"
            class="line-height-3 m-0 text-center"
          >
          <div *ngIf="member!= undefined && member.creditsRequested.length == 0">
            OOPS NO CREDITS
          </div>
          <button
          pButton
          pRipple
          style="
          margin: 20px auto;
            position: relative;
            width: fit-content;
            border-color: var(--orange-400);
            background-color: var(--yellow-200);
          "
          (click)="requestCredit()"
          type="button"
          label="Request Credit Delegation"
          class="p-button-rounded mt-3 mr-2 mb-2"
        ></button>
          <credit-table *ngIf="member!= undefined && member.creditsRequested.length > 0" [creditType]="'none'" [credits]="member.creditsRequested"  ></credit-table>
      
       
          </p-tabPanel>
          <p-tabPanel header="Credits Delegated" class="line-height-3 m-0">
            <credit-table *ngIf="member!= undefined"  [creditType]="'none'" [credits]="member.creditsDelegated"  ></credit-table>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
